body
{
	background-color: #3B3B3B;
	
}	

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 0;	
}

#header
{
	margin: 0 0 1px 0;
	border-bottom: 1px solid #333;
}

#content
{
	margin: 0;
	
	padding: 0;
	height: 600px;
}

#flash
{
	padding: 0;
	border: 1px solid #878787;
}

#footer
{
	border-top: 1px solid #333;
	margin: 1px 0 0 0;
	text-align: right;
}

h1, h2, p {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
}

h1{
	font-size: 22px;
}	